/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/


body {
    font-family: 'DM Sans', sans-serif;
    margin: 0px auto;
    text-align: center;
    color: #1D3557;
}

img {
    width: 100px;
}

.flex{
    display: flex;
}

#hero{
    background-image: url("images/torshov.jpg");
    background-size: cover;
    padding: 40px 0 40px 0;
    flex-direction: column;
    align-items: center;
}
#hero-title{
    color: #F1FAEE;
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
#hero-subtitle{
    color: #F1FAEE;
    background: #457B9D;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
.text-light{
    color: #F1FAEE;
}

.highlight-dark{
    background: #1D3557;
    border-radius: 10px;
    padding: 5px 10px;
}
.highlight-accent{
    background: #457B9D;
    border-radius: 10px;
    padding: 5px 10px;   
}

.highlight{
  flex-direction: column;
    align-items: center;  
}

.show-container{
    flex-direction: column;
    background: #F1FAEE;
    padding: 10px 0;

}

.show-image{
    border-radius: 50%;
}

.card{
    margin: 50px auto 50px auto;
    padding: 20px;
    width: 400px;
    height: 294px;
    justify-content: center;
    align-items: center;
    background: #A8DADC;
    border-radius: 10px;
    border-bottom: 5px solid #1D3557;   
}

.card-avatar{
    width: 180px;
    height: 250px;
}
